<head>
<%= stylesheet_link_tag "home.css" %>
</head>



  </div>

  <div class="video"><%= video_tag "anime.mp4", autoplay:true, height: "100%", width: "100%", controlls: false %>
  </div>
  <div class="search"><%= button_to "RANDOM", search_path, class:"butt"  %>
  </div>
