<body>
<div class="genre">
  <p>
    Choose your genre:
  </p>

</div>

<div class="video"><%= video_tag "anime.mp4", autoplay:true, height: "100%", width: "100%" %>
</div>
<div class="search"><%= button_to "Random", search_path  %>
</div>
</body>
