// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.search {

	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	width:180px;
	height:55px;
	border: 6px solid #fff;
	color: #fff;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 18px;
	line-height: 55px;
	text-align:center;
	cursor: pointer;
	background-color: transparent;
   background-image: linear-gradient(left, rgba(111,167,195,.7) 60%, transparent 100%);
   background-position: 100% 0;
   background-size: 200% 200%;
   color: #fff;
   transition: .1s .2s;
	  &:hover {
		  background-position: 0 0;
		  color: #fff;
		  transition: .4s 0;
  	}
	&:active{
		font-size: 16px;
		transition: .1s;
	}
}
//
// .genre {
//   position: absolute;
//   text-align: center;
//   margin-left: 50%;
//   margin-top: 25%;
//   font-family: sans-serif;



video {
      position: fixed;

      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      transform: translateX(-50%)
}
.video {
  opacity: 0.6;
}
body {
  background-color: white;
  margin: 0;
}
